
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;

}

 #wrapper {
    width: 100%;
    margin-top:50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
}


#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1050px;
}
.pad-top {
    padding-top:15px;
}
.icon{
    height: 50px;
    width: 50px;
}
/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse .nav {
	padding:0;
    padding-top:50px;
}

.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
    color: #214761;
font-weight: 900;
font-size: 16px;
}
.sidebar-collapse > .nav > li {
	border-bottom:1px solid #e1e1e1;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#F3F3F3;
	outline:0;
}

.navbar-side {
	border:none;
	background-color: #fff;
	
}
.navbar-inverse {

background-color: #214761;
border-color: #F0F0F0;
min-height: 80px;
}


.nav > li > a > i {
    margin-right:10px;
}
.logout-spn {
    float:right;
    color:#fff;
    font-size:25px;
    font-weight:800;
    margin: 20px 25px 10px 50px;
}
    .logout-spn a {
        text-decoration:none;
    }
.active-link {
    background-color:#f3f3f3;
}
.top-navbar-buttons {
    float:left;
    color:#fff;
    font-size:25px;
    font-weight:800;
    margin: 20px 25px 10px 50px;
}
    
/*==============================================
    DASHBOARD STYLES    
    =============================================*/
.div-square {
    padding:5px;
    border:3px double #e1e1e1;
    -webkit-border-radius:8px;
   -moz-border-radius:8px;
    border-radius:8px;
    margin:5px;

}

.div-square> a,.div-square> a:hover {
    color:#808080;
     text-decoration:none;
}
.imageiconhotel{
    height: 70px;
    width: 70px;
}
.imageiconedithotel{
    height: 70px;
    width: 90px;
}
/*==============================================
    FOOTER STYLES     
    =============================================*/
.footer {
    background-color:#214761;
    width:100%;
    color:#fff;
    padding:20px 50px 20px 50px;
     padding-left:20px;
}


    .footer > a, .footer>a:hover {
       
        color:#fff;
    }

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1050px;
		
    }
	
	
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
       
    }

 
}

.hotel-dugme{
    padding: 15px 10px;
    color: #214761;
    font-weight: 900;
    font-size: 18px;
    width: 250px;
}

.pozadina-hotel {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BXqCX6b/aerial-view-of-city-buildings-3d-rendering-with-red-point-map-4k-animation-aerial-view-of-city-buildings-3d-rendering-with-red-point-map-4k-animation_rkhn9li4x_thumbnail-full07.png");
    background-repeat:no-repeat;
    background-size: cover;
}

.wrap-add {
    width: 750px;
    /*background: #fff;*/
    background: rgba(255,255,255,0.8);
    /*background: rgba(0,0,0,0.8);*/
    /*opacity: 0.5;*/
    border-radius: 10px;
    overflow: hidden;
    /*padding: 77px 55px 33px 55px;*/
    padding: 35px 25px 33px 25px;


    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.container-add{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*padding: 200px 55px 200px 200px;*/
}

.pozadina-user {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BXqCX6b/aerial-view-of-city-buildings-3d-rendering-with-blue-user-icon-map-4k-animation_bmggmr2qel_thumbnail-full10.png");
    background-repeat:no-repeat;
    background-size: cover;
}
.wrap-hotelsList {
    width: 950px;
    /*background: #fff;*/
    background: rgba(255,255,255,1);
    /*background: rgba(0,0,0,0.8);*/
    /*opacity: 0.5;*/
    border-radius: 10px;
    overflow: hidden;
    /*padding: 77px 55px 33px 55px;*/
    padding: 35px 25px 33px 25px;


    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


