/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);



input[type=button]{
    font-size: 16px;
    background: linear-gradient(#21d4fd 5%, #b721ff 100%);
    border: 1px solid #6a7dfe;
    color: #000b01;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
}
input[type=button]:hover{
    background: linear-gradient(#b721ff 5%, #21d4fd 100%);
}