<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/login.js}"></script>
	<script>
        function validateForm() {
            var usrName = document.forms["myForm"]["username"].value;
            var pswrd = document.forms["myForm"]["password"].value;

            if (usrName == "") {
                document.getElementById("username").value = "Please enter username!";
                document.getElementById("username").style.color = "red";
                return false;
            }
            else if (pswrd == "") {
                document.getElementById("password").value = "Please enter password!";
                document.getElementById("password").style.color = "red";
                document.getElementById("password").type = "text";
                return false;
            }
        }

        function clearUsername(){
            document.getElementById("username").value = "";
            document.getElementById("username").style.color = "black";
        }

        function clearPassword(){
            document.getElementById("password").value = "";
            document.getElementById("password").style.color = "black";
            document.getElementById("password").type = "password";
        }
	</script>
</head>
<body>
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form" name="myForm" action="/users/openPanel" th:action="@{/users/openPanel}" method="get" onsubmit="return validateForm()">
						<span class="login100-form-title p-b-26">
							Welcome
						</span>
						<span class="login100-form-title p-b-0">
							<!--<i class="zmdi zmdi-font"></i>-->
							<img class="icon" th:src="@{/images/icons/favicon.ico}" />

						</span>

						<div class="wrap-input100 validate-input" >
							<input class="input100" type="text" name="username" id="username" th:filed="*{username}" th:placeholder="Username" onfocus="clearUsername()">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Enter password">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							<input class="input100" type="password" name="password" id="password" th:filed="*{password}" th:placeholder="Password" onfocus="clearPassword()">
							<span class="focus-input100"></span>
						</div>

						<div th:if="${message}">
							<strong th:text="${message}" style="color: orangered"></strong>
						</div>

						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn" type="submit"> Login</button>
							</div>
						</div>

						<div class="text-center p-t-115">
							<span class="txt1">
								Don’t have an account?
							</span>

							<a class="txt2" href="#">
								Sign Up
							</a>
						</div>
					</form>
		</div>
    </div>
</div>


	<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>

</body>
</html>