<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>Admin Panel</title>
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!-- BOOTSTRAP STYLES-->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link th:href="@{/assets/css/custom.css}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>



<div id="wrapper">
    <div th:replace="adminProfile :: header"></div>
    <!-- /. NAV TOP  -->


    <nav class="navbar-default navbar-side" role="navigation" th:replace="adminProfile :: sidebarMenu"></nav>
    <!-- /. NAV SIDE  -->
    <nav class="navbar-default navbar-side" role="navigation" th:fragment="sidebarMenu">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a th:href="@{/admin}" ><i class="fa fa-desktop "></i>Home <span class="badge">Included</span></a>
                </li>
                <li class="active-link">
                    <a th:href="@{/hotel/all}"><i class="fa fa-desktop"></i>All hotels</a>
                </li>
                <li>
                    <a th:href="@{/hotel/addHotel}"><i class="fa fa-plus-circle"></i>Add hotel</a>
                </li>
                <li>
                    <a th:href="@{/users/showUsers}"><i class="fa fa-users"></i>All users</a>
                </li>
                <li>
                    <a th:href="@{/users/userAdd}"><i class="fa fa-plus-circle"></i>Add user</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="pozadina-hotel">
        <div id="page-inner" class="pozadina-hotel">
            <div class="container-add">
                <div class="wrap-hotelsList">
                    <div class="col-lg-12" style="text-align: center">
                        <h2>Hotels</h2>
                    </div>

                    <hr />

                    <!--<div class="row">-->
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-10 col-lg-10">
                        <h2><button data-toggle="tooltip" title="Add new hotel" type="button" class="btn btn-link pull-right center-block" ><a th:href="@{/hotel/addHotel}" href="#"><span class="glyphicon glyphicon-plus"></span></a></button></h2>
                    </div>
                    <div class="col-md-1 col-lg-1"></div>

                    <div class="row">
                        <!--<div class="col-md-1 col-lg-1"></div>-->
                        <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <!--<table class="table table-striped">-->
                                <table class="table table-cell">
                                    <!--<thead class="thead-inverse" >-->
                                    <thead class="tab-header-background" style="background-color: lightgrey">
                                    <tr>
                                        <!--<td th:type="hidden"><b>Id</b></td>-->
                                        <td><b>Name</b></td>
                                        <td><b>Longitude</b></td>
                                        <td><b>Latitude</b></td>
                                        <td><b></b></td>
                                        <td><b></b></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each ="hotel : ${hotelsList}">
                                        <!--<td th:utext="${hotel.id}" th:type="hidden">...</td>-->
                                        <td th:utext="${hotel.name}">...</td>
                                        <td th:utext="${hotel.longitude}">...</td>
                                        <td th:utext="${hotel.latitude}">...</td>
                                        <td><button data-toggle="tooltip" title="Edit" type="button" class="btn btn-link"><a href='#' th:href="@{/hotel/hotelEdit/__${hotel.id}__}"><span class="glyphicon glyphicon-pencil"></span></a></button></td>
                                        <td data-toggle="modal" data-target="#myModal"><button data-toggle="tooltip" title="Delete" type="button" class="btn btn-link"><a href='#' th:href="@{/hotel//hotelDelete//__${hotel.id}__}"><span class="glyphicon glyphicon-trash"></span></a></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--<div class="col-md-1 col-lg-1"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

        <div class="row">
            <div class="col-lg-12" >

            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- CUSTOM SCRIPTS -->
<script th:src="@{/assets/js/custom.js}"></script>


</body>
</html>