<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>Admin Panel</title>
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!-- BOOTSTRAP STYLES-->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link th:href="@{/assets/css/custom.css}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <script>
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function validateForm() {
            var mistake = true;
            var name = document.forms["userAddForm"]["title"].value;
            var surname = document.forms["userAddForm"]["surname"].value;
            var email = document.forms["userAddForm"]["email"].value;
            var userName = document.forms["userAddForm"]["userName"].value;
            var password = document.forms["userAddForm"]["password"].value;
            var role = document.forms["userAddForm"]["role"].value;
            var longitude = document.forms["userAddForm"]["longitude"].value;
            var latitude = document.forms["userAddForm"]["latitude"].value;

            if (name.length < 2) {
                document.getElementById("title").value = "Name not valid!";
                document.getElementById("title").style.color = "red";
                mistake = false;
            }
            if (userName.length < 2) {
                document.getElementById("userName").value = "Username not valid!";
                document.getElementById("userName").style.color = "red";
                mistake = false;
            }
            if (surname.length < 2) {
                document.getElementById("surname").value = "Surname not valid!";
                document.getElementById("surname").style.color = "red";
                mistake = false;
            }
            if (password.length < 2) {
                document.getElementById("password").value = "Password not valid!";
                document.getElementById("password").style.color = "red";
                mistake = false;
            }

            if (isNaN(longitude) || longitude == "") {
                document.getElementById("longitude").value = "Longitude must be number!";
                document.getElementById("longitude").style.color = "red";
                mistake = false;
            }
            if (isNaN(latitude) || latitude == "") {
                document.getElementById("latitude").value = "Latitude must be number!";
                document.getElementById("latitude").style.color = "red";
                mistake = false;
            }
            if(validateEmail(email) == false){
                document.getElementById("email").value = "Email not valid!";
                document.getElementById("email").style.color = "red";
                mistake = false;
            }

            return mistake;
        }

        function clearInput(elementChange){
            document.getElementById(elementChange).value = "";
            document.getElementById(elementChange).style.color = "black";
        }
    </script>

</head>
<body>



<div id="wrapper">
    <div th:replace="adminProfile :: header"></div>
    <!-- /. NAV TOP  -->


    <nav class="navbar-default navbar-side" role="navigation" th:replace="adminProfile :: sidebarMenu"></nav>
    <!-- /. NAV SIDE  -->
    <nav class="navbar-default navbar-side" role="navigation" th:fragment="sidebarMenu">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a th:href="@{/admin}" ><i class="fa fa-desktop "></i>Home</a>
                </li>
                <li>
                    <a th:href="@{/hotel/all}"><i class="fa fa-desktop"></i>All hotels</a>
                </li>
                <li>
                    <a th:href="@{/hotel/addHotel}"><i class="fa fa-plus-circle"></i>Add hotel</a>
                </li>
                <li>
                    <a th:href="@{/users/showUsers}"><i class="fa fa-users"></i>All users</a>
                </li>
                <li class="active-link">
                    <a th:href="@{users/userAdd}"><i class="fa fa-plus-circle"></i>Add user</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="pozadina-user">
        <div id="page-inner" class="pozadina-user">
            <div class="container-add">
                <div class="wrap-add">
                    <div class="col-md-12" style="text-align: center">
                    <h2>Add new user</h2>
                </div>
            <hr />
            <!--<div class="row">-->
                    <div class="col-md-2 col-lg-2"></div>
                    <!--<div class="col-md-6 col-lg-6">-->
                    <div class="col-md-8">
                        <form class="form-group" name="userAddForm" action="/users/userAddNew" th:action="@{/users/userAddNew}" method="post" onsubmit="return validateForm()">
                            <input th:type="hidden" name="id" th:field="${usrDetails.id}" />
                            <div class="form-group">
                                <label for="title">Name</label>
                                <input type="text" class="form-control" name="title" id="title" th:field="${usrDetails.name}" onfocus="clearInput('title')" />
                            </div>
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input class="form-control" name="surname" id="surname" th:field="${usrDetails.surname}" onfocus="clearInput('surname')"/>
                            </div>
                            <div class="form-group">
                                <label for="userName">Username</label>
                                <input class="form-control" name="userName" id="userName" th:field="${usrDetails.userName}" onfocus="clearInput('userName')"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" name="password" id="password" th:field="${usrDetails.password}" onfocus="clearInput('password')"/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" id="email" th:field="${usrDetails.email}" onfocus="clearInput('email')"/>
                            </div>
                            <!--<div class="form-group">
                                <label for="role">Role</label>
                                <input class="form-control" name="role" id="role" th:field="${usrDetails.role}" onfocus="clearInput('role')"/>
                            </div>-->

                            <div class="form-group">
                                <label for="role">Role</label>
                                <select class="form-control selectpicker" name="role" id="role" th:field="${usrDetails.role}">
                                    <option th:value="user" selected>user</option>
                                    <option th:value="supervisor">supervisor</option>
                                </select>
                            </div>
                            <!--input th:type="hidden" name="id" th:field="${usrDetails.role}" /-->
                            <div class="form-group">
                                <label for="longitude">Longitude</label>
                                <input class="form-control" name="longitude" id="longitude" th:field="${usrDetails.longitude}" onfocus="clearInput('longitude')"/>
                            </div>
                            <div class="form-group">
                                <label for="latitude">Latitude</label>
                                <input class="form-control" name="latitude" id="latitude" th:field="${usrDetails.latitude}" onfocus="clearInput('latitude')"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-default"><a th:href="@{/users/showUsers}">Cancel</a></button>
                        </form>
                    </div>
                    <div class="col-md-2 col-lg-2"></div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

        <div class="row">
            <div class="col-lg-12" >

            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- CUSTOM SCRIPTS -->
<script th:src="@{/assets/js/custom.js}"></script>


</body>
</html>